# CMake 构建产物
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.cmake
build/
.ninja*
SCL-90_autogen/
Testing/
.cmake/

# Qt Creator 配置
.qt/
*.user
*.pro.user
*.pro.user.*
*.qmake.stash
.qt_clangd/

# 编译产物
moc_*.cpp
ui_*.h
qrc_*.cpp
*.o
*.so
*.dll
*.exe

# 系统/IDE 临时文件
.DS_Store
Thumbs.db
.idea/
.vscode/